<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:theme="@style/AppTheme"
        android:label="Зліпи сніговика"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ResumeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".CharacterActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".WardrobeActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".SchoolActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".ClassOneActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".SchoolWeekActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".SchoolIntegrationActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".SchoolCallActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".SnowSwimActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".YearTwoActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".YearThreeActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".MemoryActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".SummerActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".DeliveryActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".UklonActivity" android:screenOrientation="portrait" android:exported="false"/>
        <activity android:name=".JourneyActivity" android:screenOrientation="portrait" android:exported="false"/>
        <receiver
            android:name=".SnowReminderReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
